body {
  background: url("images/fondo_cielo2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Inter", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Space Mono", monospace;
  color: #f6f6f6;
}
input,
button,
label {
  font-size: 1.1rem;
  color: #37384d;
}
.search0{
  padding-top: 2rem;
}
.search{
  display: none;
}
.info{
  color: #37384d;
}
.div-intro{
  padding-top: 2rem;
}
h3{
    font-size: 2rem;
    padding-top: 1.5rem;
}
.information {
  text-align: center;
  position: relative;
  top: 18rem;
  left: 45%;
  transform: translate(-50%, -50%);
  width: 40rem;
  height: 27rem;
  /* opacity: 0.5; */
  background-color: rgba(200, 199, 226, 0.5);
}
/* .search {
  transition-duration: 3s;
} */
.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}
.temperature{
    font-size: 12rem;
}
h5 {
  font-size: 1.3rem;
}

#city {
  width: 15rem;
  height: 1.7rem;
  border: none;
  border-radius: 3px;
}
input:focus {
  outline: none;
}
.btn-buscar {
  margin-top: 3rem;
  width: 8rem;
  height: 2rem;
  border: none;
  border-radius: 3px;
}
.div-detalle {
  display: flex;
  
}
.div-1{
    justify-self: end;
    align-self: center;
}
.div-2 {
  justify-self: start;
}
.img-temperature{
    width: 5rem;
    height: 4.8rem;
}
.temperature{
    font-weight: bold;
    font-size: 2.8rem;
}
.location{
    font-size: 1.6rem;
    font-weight: bold;
}
.img-ubication{
    width: 1.4rem;
    height: 1.5rem;
    padding-right: 0.6rem;
}
.grid-days{
    margin-top: 0rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* gap: 1rem; */
    color: #37384d;
}
.img-sub-weather{
    width: 4rem;
    height: 4rem;
}
.sub-temperature{
    background-color: rgba(215, 213, 223, 0.5);
    border-radius: 0.2rem;
    height: 11rem;
}